html, body {
	background-color: #999966;
	margin: 0;
	padding: 0;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 13px;
	line-height: 180%;
	color: #333333;
}

h1#title {
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 0.4em;
	margin: 10px 10px 10px 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

h1#title a {
	color: #333300;
	text-decoration: none;
}

div#container {
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	background: white url(images/description_background.gif) repeat-y;
}

div#inner_container {
	margin-left: 230px;
}

div#description {
	width: 230px;
	float: left;
}

div#description span {
	display: block;
	margin: 20px;
	text-align: justify;
 	line-height: 18px;
	color: #336666;
}

div#menu {
	background-color: #a4c2c2;
	height: 36px;
	margin-left: 1px;
}

div#menu a {
	padding-left: 10px;
	padding-right: 10px;
	color: #336666;
	vertical-align: middle;
	line-height: 36px;
	letter-spacing: 0.1em;
	text-decoration: none;
	font-weight: normal;
	display: block;
	float: left;
	height: 36px;
}

div#menu a.active {
	font-weight: bold;
	background-color: #fff;
}

div#menu a:hover {
	color: #993300;
}

div#menu a.active:hover {
	color: #336666;
}

div#content {
	float: left;
	padding: 20px;
	width: 723px;
}

div#content h1 {
	color: #CC3300;
	font-size: 20px;
	font-family: georgia, serif;
	letter-spacing: 0.1em;
	font-weight: normal;
	margin-bottom: 10px;
}

div#content h2 {
	color: #CC3300;
	font-size: 16px;
	font-family: georgia, serif;
	letter-spacing: 0.1em;
	font-weight: normal;
	margin-bottom: 10px;
}

div#content a {
	color: #C00;
	text-decoration: none;
	font-weight: bold;
}

div#content a:hover {
	text-decoration: underline;
}

div#content ul,
div#content p {
	margin: 10px 0;
}

div#content li {
	list-style: disc inside;
	margin-left: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

h3,
strong {
	font-weight: bold;
}

.csc-mailform li {
	list-style: none !important;
}

.csc-mailform input[type=submit] {
	padding: 5px;
}

table.contenttable td {
    padding: 2px;
}